body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #2e7d32, #66bb6a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo {
  width: 60px;
  margin-right: 10px;
}

.logo-text h1 {
  margin: 0;
  font-size: 1.5em;
  color: #f57c00;
}

.logo-text p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

h2 {
  margin: 10px 0;
  color: #2e7d32;
}

.subtitulo {
  margin-bottom: 20px;
  color: #555;
  font-size: 0.95em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: 0.9em;
  color: #333;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95em;
}

button {
  background-color: #2e7d32;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background-color: #1b5e20;
}

.extras {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  margin-top: 5px;
}

.extras a {
  color: #2e7d32;
  text-decoration: none;
}

 .error { 
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

.mensaje-error {
  margin-top: 15px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 6px;
  font-size: 14px;
  display: none;
  text-align: center;
}

input.error {
  border: 2px solid #e53935;
}